services:
  db:
    image: mysql:8.4
    container_name: db
    restart: always
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - db:/var/lib/mysql
    networks:
      - backend

  backend:
    build: ./backend
    container_name: backend
    restart: always
    env_file:
    - ./backend/.env
    ports:
      - "3000:3000"
    depends_on:
      - db
    networks:
      - backend

networks:
  backend:

volumes:
  db:
