services:
  db:
    image: mysql:8.4
    container_name: db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: SuperSecurePassword123!  # สำหรับ root
      MYSQL_DATABASE: scam_guard_prod
      MYSQL_USER: test_user                            # user ปกติ
      MYSQL_PASSWORD: TestPassword123!                 # รหัส user ปกติ
    ports:
      - "3307:3306"
    volumes:
      - db:/var/lib/mysql
    networks:
      - backend
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "test_user", "-pTestPassword123!"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  backend:
    build: ./backend
    container_name: backend
    restart: always
    environment:
      DB_HOST: db
      DB_USER: test_user
      DB_PASS: TestPassword123!
      DB_NAME: scam_guard_prod
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - backend

networks:
  backend:

volumes:
  db:
